{% extends 'base.html' %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
{% endblock %} {% block content %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">UPDATE DATA KOTA</h1>
  <!--
 <div class="btn-toolbar mb-2 mb-md-0">
   <div class="btn-group me-2">
     <button type="button" class="btn btn-sm btn-outline-secondary">
       Share
     </button>
     <button type="button" class="btn btn-sm btn-outline-secondary">
       Export
     </button>
   </div>
   <button
     type="button"
     class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
   >
     <svg class="bi" aria-hidden="true">
       <use xlink:href="#calendar3" />
     </svg>
     This week
   </button>
 </div>
 -->
</div>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<form action="{{ url_for('routes.update', id=value.id) }}" method="POST">
  <div class="mb-3">
    <label for="nama" class="form-label">Nama Kota</label>
    <input
      type="text"
      class="form-control"
      id="nama"
      name="nama"
      value="{{ value.nama }}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
  <a href="{{ url_for('routes.data_view') }}" class="btn btn-secondary"
    >Kembali</a
  >
</form>
{% endblock %}
