<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Siswa</title>
  </head>
  <body>
    <h1>Input Data Siswa</h1>
    <form action="/" method="post">
      <label for="nama">Nama</label>
      <input type="text" name="nama" placeholder="Nama" required />
      <br>
      <br>
      <label for="kelas">Kelas</label>
      <input type="text" name="kelas" placeholder="Kelas" required />
      <br>
      <br>
      <button type="submit">Tambah</button>
    </form>

    <h1>Data Siswa</h1>
    <ul>
      {% for siswa in siswa_list %}
      <li>
        <h4>{{ siswa.nama }} - {{ siswa.kelas }}</h4>
        <a href="/update/{{ siswa.id }}">Update</a>
        <a href="/hapus/{{ siswa.id }}" onclick="return confirm('Hapus?')">Hapus</a >
      </li>
      {% endfor %}
    </ul>
    <a href="/logout" onclick="return confirm('Logout?')">Logout</a>
  </body>
</html>
